<div class = "container form-container ">
  <div class="row my-5">
    <div class="col-8">
      <%= simple_form_for(costume) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, as: :select, collection: ["unicorn", "wizard", "hobbit", "dragon", "elf","dwarf", "princess", "character", "other"]%>
        <%= f.input :size, as: :select, collection: ["XS", "S", "M", "L", "XL", "XXL"] %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :location, input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"}, wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
        <%= f.input :photos, as: :file, input_html: { multiple: true} %>
        <%= f.submit 'Add a costume', class: "btn-create border border-light mt-3"%>
      <% end %>
      </div>
      <div class="col-4 mt-2 mb-2">
      <%= image_tag "illu2.PNG", class: "fairy"%>
      </div>
    </div>
</div>


