<h1 class="my-5 p-2 text-center glow">Rent The Magic</h1>

<%= form_with url: costumes_path, method: :get, class: "d-flex p-3 search-form" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control border rounded-pill",
    placeholder: "Find a costume"
  %>
  <%= submit_tag "Search", class: "btn btn-primary border rounded-pill" %>
<% end %>

<div class="costumes-container rounded">

  <div class="cards-costumes cards text-center w-100">
    <% @costumes.each do |costume| %>
      <div class="card-costume shadow-lg" style="background-image: url(<%= cl_image_path costume.photos.first.key %>)">
        <div class="overlay"></div>
        <div class="card-buttons">
            <% if policy(costume).edit? %>
              <%= link_to "Edit", edit_costume_path(costume), class: "btn btn-white" %>
            <% end %>
            <!-- [...] -->
            <%= button_to costume,
              method: :delete,
              data: { turbo_confirm: "Are you sure?" },
              class: "btn btn-white" do %>
              <i class="fas fa-trash-alt"></i>
            <% end if policy(costume).destroy? %>
          </div>
        <div class="costume-info">
          <h4><%= costume.name %></h4>
          <%# <h4 class="card-price fw-bolder"><small><%= number_to_currency(costume.price) %>
          <%# </small></h4> %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div style="width: 400px; height: 600px; margin-top: 40px; margin-bottom: 40px"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
