<div class="d-flex w-100 justify-content-center align-items-center">
  <h1 class="p-1 text-center">discover costumes</h1>
  <%= form_with url: costumes_path, method: :get, class: "d-flex p-3 search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control border rounded-pill",
      placeholder: "Find a costume"
    %>
    <%= submit_tag "Search", class: "btn btn-primary border rounded-pill" %>
  <% end %>
</div>

  <div class="d-flex justify-content-between mr-4 py-3">
    <div class="ml-5 cards text-center ">
      <% @costumes.each do |costume| %>
        <div class="card-costume shadow-lg" style="background-image: url(<%= cl_image_path costume.photos.first.key %>)">
          <%= link_to costume_path(costume), class: "text-decoration-none" do %>
            <div class="overlay"></div>
            <div class="costume-info">
              <h4><%= costume.name %></h4>
            </div>
            <div class="costume-info-card bg-white p-3 justify-content-between">
              <p class="card-price"><%= number_to_currency(costume.price) %></p>
              <%= link_to "Rent", costume_path(costume), class: "btn btn-ghost mb-3 fw-bolder"%>
            </div>
          <% end %>
    </div>
   <% end %>
  </div>

  <div class="container-map-search">
    <div style="width: 400px; height: 600px; margin-top: 40px; margin-bottom: 40px"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
