
<%= form_with url: costumes_path, method: :get, class: "d-flex p-5 search-form" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control border rounded-pill",
    placeholder: "Find a costume"
  %>
  <%= submit_tag "Search", class: "btn btn-primary border rounded-pill" %>
<% end %>

<h1 class="text-center fw-bolder m-3">Rent The Magic</h1>

<div class="cards">
  <% @costumes.each do |costume| %>
  <div class="card">
    <h3><%= costume.name %></h3>
    <div class="card-img-container d-flex justify-content-center align-items-center w-100">
      <%= cl_image_tag costume.photos.first.key, height: 300, width: 200, crop: :fill %>
    </div>
    <p class="card-price"><%= number_to_currency(costume.price) %></p>
    <p><%= costume.location %></p>
    <%= link_to "Rent this costume!", costume_path(costume), class: "btn btn-ghost mb-3 fw-bolder"%>
  </div>
  <% end %>
</div>

<div style="width: 400px; height: 600px; margin-top: 40px; margin-bottom: 40px"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
