<h1>Costumes Index</h1>
<div class="costumes-container">
  <% @costumes.each do |costume| %>
  <div class="card">
    <h3><%= costume.name %></h3>
    <div class="card-img-container d-flex justify-content-center align-items-center w-100">
      <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
    </div>
    <p class="card-price"><%= number_to_currency(costume.price) %></p>
    <%= link_to costume_path(costume), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{costume.name}?" }, class: "delete-link " do %>
      <i class="fas fa-trash"></i>
    <% end %>     
    <%= link_to "Rent this costume!", costume_path(costume), class: "rent-link" %>
  </div>
  <% end %>
</div>
