<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="card">
        <h3 class="card-title"><%= @costume.name %></h3>
        <div class="card-img-container">

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <% if @costume.photos.attached? %>

    <% @costume.photos.each do |photo| %>
      <% if photo == @costume.photos.first %>
      <div class="carousel-item active">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
      <% else %>
      <div class="carousel-item">
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
      <% end %>
    <% end %>

  <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



        <div class="card-body">
          <p class="card-price"><%= number_to_currency(@costume.price) %></p>
          <p class="card-text"><%= @costume.description %></p>
        </div>
      </div>
    </div>
    <div class="card col-lg-6">
      <%= render "bookings/form", booking: Booking.new, costume: @costume %>
    <%# <div class="col-lg-6"> %>
      <div style="height: 250px;" class="rounded;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <%= link_to "Back to costumes", costumes_path, class: "btn-flat btn-show text-decoration-none float-start " %>
    </div>
</div>
