<div class="bg-white">
  <%= link_to "Back", costumes_path, class: "position-absolute btn-ghost text-decoration-none float-start " %>
  <div class="row">
  <div class="images">
    <%# <%= image_tag('crown.png', class: "img-crown") %>
    <%# <%= image_tag('etoile.png', class: "img-etoile") %> 
    <%# <%= image_tag('linie.png', class: "img-linie") %> 
    </div>
    <div class="col-6">
      <div class="left-show">
  
        <div class="card-img-container">

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if @costume.photos.attached? %>

                <% @costume.photos.each do |photo| %>
                  <% if photo == @costume.photos.first %>
                  <div class="carousel-item active">
                    <%= cl_image_tag photo.key, class: "d-block w-100" %>
                  </div>
                  <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100" %>
                  </div>
                  <% end %>
                <% end %>

              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden ">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

      </div>
    </div>
    <div class="col-6">

      <div class="arrow"> 
      
        <h5><span class="text-color"><%= current_user.first_name %></span> offers you</h5>
        <%# <%= image_tag('arrow.png', class: "img-arrow") %>

      </div>

      <div class="section-details d-flex justify-content-between align-items-top border-bottom py-3">
        <div class="infos">
          <h3 class="card-title"><%= @costume.name %></h3>
          <p class="card-text fst-italic p-2">"<%= @costume.description %>"</p>
        </div>
        <p class="card-price fw-bold"><%= number_to_currency(@costume.price) %></p>
      </div>

      <div class="d-flex justify-content-between">
        <div class="py-3 section-map">
          <h5 class="fw-bold">pick it up here :</h5>
          <p class="fst-italic p-2"><%= @costume.location %></p>

          <div style="height: 250px;" class="rounded;"
            data-controller="map"
            data-map-markers-value="<%= @marker.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

        <div class="section-form py-3">
          <%= render "bookings/form", booking: Booking.new, costume: @costume %>
        </div>
      </div>

    </div>
  </div>
</div>
