<div class="container">
  <div class="card-trip">
  <div class="image-grid">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/france.jpg" />
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/italy.jpg" />
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/japan.jpg" />
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/spain.jpg" />
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @costume.name %></h2>
      <p><%= @costume.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= number_to_currency(@costume.price) %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

  
    <div class="card col-lg-6">
      <%= render "bookings/form", booking: Booking.new, costume: @costume %>
      <%# <div class="col-lg-6"> %>
      <div style="height: 250px;" class="rounded;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    
</div>

<%= link_to "Back to costumes", costumes_path, class: "btn-flat btn-show text-decoration-none float-start " %>

