
<div class="col-4">
  <div class="product-show-card" data-controller="dynamic-booking-price"
      data-dynamic-booking-price-price-value="<%= @costume.price %>">

    <div class="card ">
        <%= simple_form_for [@costume, @booking], html: {
              data: {
                controller: 'flatpickr',
                flatpickr_dates_value: @costume.flatpickr_booked_dates_object
              }
            }  do |f| %>
          <h5>Book this costume!</h5>
          <%= f.input :start_date, label: false, as: :string,
                                  input_html: {
                                    class: 'd-none',
                                    data: {
                                      flatpickr_target: 'startDateInput',
                                      dynamic_booking_price_target: 'startDateInput',
                                      action: 'change->dynamic-booking-price#updatePrice'
                                    }
                                } %>
          <%= f.input :end_date, label: false, as: :string,
                                  input_html: {
                                    class: 'd-none',
                                    data: {
                                      flatpickr_target: 'endDateInput',
                                      dynamic_booking_price_target: 'endDateInput',
                                      action: 'change->dynamic-booking-price#updatePrice'
                                    }
                                } %>
          <%= f.input :costume_id, as: :hidden, input_html: { value: @costume.id } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit 'Rent', class: "btn-ghost fw-bolder"%>
        <% end %>
    </div>
  </div>
</div>