
<%# <div class="container"> %>
<div class="p-4">
  <div class="d-flex align-items-center">
    <%= image_tag "avatar_user.png", class: "avatar-large" %>
    <h4 class="booking-title2 mx-4 " >Hello  <span class="text-color fw-bolder"><%= current_user.first_name %></span> !</h4>
  </div>
</div>

  <div class="px-4 pb-3 d-flex justify-content-between" style="gap: 30px;">
    <div class="bookings-container mt-0 col-3">
      <h4 class="booking-title m-4 text-center">My rentals</h3>
        <div class="bookings-cards">
          <% if @bookings.length == 0 %>
            <p>You have zero rentals ☹</p>
          <% else %>
            <% @bookings.each do |booking| %>
              <div class="collapsible-container mb-3">
                <button type="button" class="collapsible"><%= booking.costume.name %></button>
                <div class="content d-flex justify-content-between py-2 align-items-center">
                  <p class="mt-3"><strong></strong><%= booking.start_date %> <i class="fa-solid fa-arrow-right"></i> <%= booking.end_date %></p>
                  <div class="d-flex text-end ">
                    <% if policy(booking).edit? %>
                      <%= link_to edit_booking_path(booking), class: "btn btn-book" do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                      <% end %>
                    <% end %>
                    <%= button_to booking,
                      method: :delete,
                      data: { turbo_confirm: "Are you sure?" },
                      class: "btn btn-book" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end if policy(booking).destroy? %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <br>
        <div>
          <h4 class="booking-title m-4 text-center">My requests</h3>
          <div class="booking-cards">
            <% if @requests.length == 0 %>
              <p>You have zero requests ☹</p>
            <% else %>
              <% @requests.each do |request| %>
                  <% request.each do |r| %>
                    <div class="card-request bg-white p-2 mb-3 rounded collapsible d-flex justify-content-between">
                      <div>
                        <h5><%= r.costume.name %></h5>
                        <p style="font-family: 'Poppins'"><%= r.start_date %> <i class="fa-solid fa-arrow-right"></i> <%= r.end_date %></p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <%= button_to approve_booking_path(r),
                          class: "btn btn-ghost" do %>
                          <i class="fa-solid fa-thumbs-up"></i>
                        <% end %>
                      </div>
                      <% if r.state == 'approved'%>
                        <%= image_tag 'approved.png', class: "approved" %>
                      <% end %>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 costumes-container col-7 rounded">
      <h1 class="title-costume pt-0">My costumes</h1>

      <% if @costumes.length == 0 %>
        <div class="d-flex justify-content-center">
          <p>You have zero costumes ☹</p>
        </div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <%= image_tag "illu1.PNG", height: 600 %>
        </div>
      <% else %>
        <div class="cards-costumes text-center w-100">
          <% @costumes.each do |costume| %>
            <div class="card-costume shadow-lg" style="background-image: url(<%=cl_image_path costume.photos.first.key%>)">
              <%= link_to costume_path(costume), class: "text-decoration-none" do %>
                <div class="overlay"></div>
              <% end %>
                <div class="card-buttons">
                    <% if policy(costume).edit? %>
                      <%= link_to "Edit", edit_costume_path(costume), class: "btn btn-ghost2" %>
                    <% end %>
                    <%= button_to costume,
                      method: :delete,
                      data: { turbo_confirm: "Are you sure?" },
                      class: "btn btn-ghost2" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end if policy(costume).destroy? %>
                </div>
                <div class="costume-info">
                    <h4><%= costume.name %></h4>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
 </div>
<%# </div> %>
