<div class="container">
  <div class="row">


    <div class="costumes-container col-7 rounded">
      <h2 class="m-2">My costumes</h2>
      <div class="cards-costumes">
        <% @costumes.each do |costume| %>
          <div class="card p-2 mb-2 shadow-lg">
            <div class="d-flex justify-content-between">
              <h3><%= costume.name %></h3>
              <p class="card-price"><%= number_to_currency(costume.price) %></p>
            </div>
            <div class="d-flex justify-content-center align-items-center w-100">
              <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
            </div>
            <%# <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
            <div class="d-flex justify-content-end">
              <% if policy(costume).edit? %>
                <%= link_to "Edit", edit_costume_path(costume), class: "btn btn-ghost" %>
              <% end %>
              <!-- [...] -->
              <%= button_to costume,
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-ghost" do %>
                <i class="fas fa-trash-alt"></i>
              <% end if policy(costume).destroy? %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="bookings-container col-4">
      <h3 class="m-2">my rentals</h3>

      <div class="bookings-cards">
        <% @bookings.each do |booking| %>
          <div class="collapsible-container mb-2">
            <button type="button" class="collapsible"><%= booking.costume.name %></button>
              <div class="content">
                <div class="d-flex">
                  <div>
                    <p><strong>From: </strong><%= booking.start_date %></p>
                    <p><strong>To: </strong><%= booking.end_date %></p>
                  </div>
                    <%= link_to "details", costume_path(booking.costume), class: "btn btn-ghost", style: "position: absolute; top: 5px; right: 5px;" %>
                </div>
              </div>
          </div>

        <% end %>
        <h4>My Requests</h4>
        <% @requests.each do |request| %>
          <% request.each do |r| %>
            <%= r.status %>
            <p><strong>From: </strong><%= r.start_date %></p>
            <p><strong>To: </strong><%= r.end_date %></p>
            <%= button_to 'Approve', approve_booking_path(r), class: "button-xs success" %>
            state: <%= r.state  %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>
<%#
<div class="card-booking p-2 m-1">
  <div class="text-start">

  </div>
</div> %>
