<div class="container">
  <h1 class="text-center">My dashboard</h1>
  <div class="row">
    <h2>My costumes</h2>

    <div class="costumes-container col-7 bg-white">
      <% @costumes.each do |costume| %>
        <div class="card p-2 m-2">
          <h3><%= costume.name %></h3>
          <p><%= costume.user.email %></p>
          <div class="card-img-container d-flex justify-content-center align-items-center w-100">
            <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
          </div>
          <%# <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
          <p class="card-price"><%= number_to_currency(costume.price) %></p>
          <div>
            <% if policy(costume).edit? %>
              <%= link_to "Edit this costume", edit_costume_path(costume)%> |
            <% end %>
            <!-- [...] -->
            <%= button_to "Destroy this costume", costume, method: :delete if policy(costume).destroy?%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="bookings container bg-white col-4 m-1 text-end">
      <h2>My bookings</h2>
      <div class="bookings-cards">
        <% @bookings.each do |booking| %>
          <%= link_to booking.costume.name, costume_path(booking.costume) %>
          <%= booking.start_date %>
        <% end %>
      </div>
    </div>

  </div>
</div>
