<%# <div class="container">
  <div class="row"> %>


    <div class="costumes-container col-8 rounded">
      <h2 class="m-2">My costumes hello</h2>
      <br>
      <div class="cards">
        <% @costumes.each do |costume| %>
          <div class="card p-2 m-2 shadow-lg">
            <div class="d-flex justify-content-between">
              <h3><%= costume.name %></h3>
              <p class="card-price"><%= number_to_currency(costume.price) %></p>
            </div>
            <div class="card-img-container d-flex justify-content-center align-items-center w-100">
              <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
            </div>
            <%# <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
            <div class="d-flex justify-content-end">
              <% if policy(costume).edit? %>
                <%= link_to "Edit", edit_costume_path(costume), class: "btn btn-ghost" %>
              <% end %>
              <!-- [...] -->
              <%= button_to costume,
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-ghost" do %>
                <i class="fas fa-trash-alt"></i>
              <% end if policy(costume).destroy? %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="bookings container bg-white col-4 m-1 text-end">
      <h2>My bookings</h2>

      <div class="bookings-cards">
        <% @bookings.each do |booking| %>
          <div class="card">
            <%= link_to booking.costume.name, costume_path(booking.costume) %>
            <div class="text-start">
              <p><strong>From: </strong><%= booking.start_date %></p>
              <p><strong>To: </strong><%= booking.end_date %></p>
            </div>
          </div>
        <% end %>
        <h4>My Requests</h4>
        <% @requests.each do |request| %>
          <% request.each do |r| %>
            <%= r.status %>
            <p><strong>From: </strong><%= r.start_date %></p>
            <p><strong>To: </strong><%= r.end_date %></p>
            <%= button_to 'Approve', approve_booking_path(r), class: "button-xs success" %>
            state: <%= r.state  %>
          <% end %>
        <% end %>
      </div>

    </div>

  <%# </div>
</div> %>
